@import "variables";
body {
    background-color: black;
    margin: $margin;
    width: 100%;
    height: auto;
}
h2 {
    font-family: $bebas-font;
    font-style: $normal-style;
    font-weight: $normal-size;
    font-size: $heading2-font-size;
    line-height: $heading2-line-height;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h2,
p,
.category,
span {
    color: $text-color;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.category {
    font-family: $bebas-font;
    font-weight: $normal-size;
    font-size: $category-size;
    line-height: $category-height;
    letter-spacing: 2px;
    text-transform: $text-transform;
}
.description {
    font-family: $open-sans-font;
    font-weight: $normal-size;
    font-size: $description-size;
    line-height: $description-height;
    letter-spacing: 2px;

}
@media(min-width:$content) {
    h2 {
        font-size: 80px;
    }
}
