@import "variables";


.masthead {
    background-image: url("../img/bg-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 5rem;;
}
