@import "variables";

.features {
    padding-left: 116px;
    background-image: url("../img/features.png");
    background-repeat: no-repeat;
    background-position: 50% calc(100% - 116px);
    background-size: contain;
}