@import "variables";

.features {
    padding-left: 116px;
    background-image: url("../img/features.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.instruction_flows {
    counter-reset: step;
}
.instruction_flows label {
    font-family: $bebas-font;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFB548;

}
.detail {
    display: none;
}
input[type="radio"]:checked ~ .detail {
    display: block;
}