@import "variables";

body > header {
    // position: absolute;
}
body > header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body > header nav {
    order: 3;
    display: inline;
}
.languages select {
    font-size: 12px;
    text-transform: uppercase;
}
h1 > img {
    width: 60px;
    height: 60px;
}
