@import "variables";

body > header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
body > header nav {
    order: 3;
    display: inline;
}
h1 > img {
    width: 60px;
    height: 60px;
}
