@import "variables";

.icon_menu {
  background-image: url("../img/icon_menu_white.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
}
label > .a11y {
  display: none;
}
#menu_checkbox {
  display: none;
}
// .homepage_list {
//   display: none;
// }
body > [type="checkbox"]:checked ~ .homepage_list {
  transform: translateX(0);
  display: block;
}
.homepage_list {
  margin-block-start: 1rem;
  background-color: gray;
  width: 300px;
  height: auto;
  display: none;
}
.homepage_list ul {
  display: block;
}
.homepage_list li {
  padding: 2rem;
}
.homepage_list a {
  font-family: $open-sans-font;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: $text-transform;
  color: $text-color;

}