@import "variables";

.menu li a {
    text-transform: uppercase;
    font-size: 12px;
    color: $text-color;
}
body > header nav ul {
    padding: 1rem;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    transform: translateX(-110%);
    transition: transform 0.3s;
  }
  
  body > [type="checkbox"]:checked ~ nav {
    transform: translateX(0);
  }
  
  body > [type="checkbox"]:checked ~ header label {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.25);
  }
  
  body > [type="checkbox"]:checked ~ main {
    z-index: 1;
  }
  
  body > header > nav {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
  }
  
  .container > label {
    width: 1rem;
    height: 1rem;
    display: block;
    background-image: url("../img/icon_menu.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
  }
  
  body > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  body > header > nav ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: #343638;
    opacity: 0.5;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    transition: opacity 0.3s;
    display: block;
    padding: 1rem 1rem 1rem 4rem;
    vertical-align: middle;
  }
  
