@import "variables";

.icon_menu::before {
  content: url("../img/icon_menu_white.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  margin-inline-end: -15rem;
  margin-inline-start: 15rem;
  margin-block-end: -15rem;

}
label > .a11y {
  display: none;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked ~ .homepage_list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 1;
  background-color: turquoise;
  transform: translateX(0);
}

.homepage_list ul {
  display: block;
}
.homepage_list li {
  padding: 2rem;
}
.homepage_list a {
  font-family: $open-sans-font;
  font-style: $normal-style;
  font-weight: $bold-size;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: $text-transform;
  color: $text-color;

}