@import "variables";

.newsletter_subscribe {
    background: radial-gradient(20.43% 53.19% at 0% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%),
                url("../img/mayan_small.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover, auto 100%;
}
.newsletter_wrapper {
    padding-inline-start: 122px;
    padding-block-start: 2rem;
}
.form_input {
    display: flex;
    flex-direction: column;
}
.email {
    width: 293px;
    height: 50px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px
}
.subscribe {
    width: 300px;
    height: 50px;
    background-color: orange;
    margin-block-start: 1rem;
}
.email_address {
    font-family: $open-sans-font;
    font-style: $normal-style;
    font-weight: $normal-size;
    font-size: 14px;
    line-height: 19px;
    color: #FFB548;
}