@import "variables";

.newsletter_subscribe {
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
    background-image: url("../img/mayan-raul-osorio-totem.png");
    background-repeat: no-repeat;
    background-size: cover;
}
