@import "variables";

.quotations {
    padding: 1rem;
}
.testemonial {
    background-color: orange;
    width: 200px;
    height: 44px;
    border-radius: 2px;
    font-family: $open-sans-font;
    font-style: $normal-style;
    font-weight: $bold-size;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: 2rem;
    color: #1A1917;
}
.testemony_lists {
    display: flex;
    flex-direction: column;
}
.testemony {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    margin-block-end: 1rem;
    padding: 1rem;
    max-width: 400px;
    height: 200px;
}
.testemony img {
    width: 40px;
    border-radius: 50px;
}
.testemony header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.testemony_name {
    font-family: $bebas-font;
    font-size: 21px;
    line-height: 21px;
    color: #FFB548;
    display: flex;
    flex-direction: column;
}
.profession,
.date {
    font-family: $open-sans-font;
    font-style: $normal-style;
    font-weight: $normal-size;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-inline-start: 1rem;

}
.quote {
    font-family: $open-sans-font;
    font-style: $normal-style;
    font-weight: $normal-size;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    padding-inline-start: 1rem;
}
@media(min-width:$content) {
    .quotations {
        margin: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .quotations > article {
        width: 455px;
        margin-block-start: 200px;
        margin-block-end: 200px;
    }
    .quotations .description {
        padding-block-start: 2rem;
        padding-block-end: 2rem;
    }
    .testemonial {
        margin-inline-start: 0;
        margin-block-start: 2rem;
    }
    .testemony:nth-of-type(1),
    .testemony:nth-of-type(3) {
        margin-inline-start: 165px;
    }
}