@import "variables";

.social_battle {
    background-image: url("../img/bg-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block-start: 5rem;
}
.social_battle header {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 2px solid white;
    margin-inline-start: 1rem;
}
.social_battle .description {
    padding-block-start: 1rem;
    padding-inline-start: 3rem;
    padding-inline-end: 1rem;
}
// .social_battle img {
//     max-width: 100%;
// 	object-fit: cover;
// 	width: 100%;
// 	height: 100%;
// 	display: block
// }
.image_doc {
    padding: 2rem 38px;
}
.image_list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: calc(100% * 273 / 249);
}

.screenshot {
	position: absolute;
}

.screenshot:nth-of-type(1) {
	left: 0;
	right: calc(100% * 24 / 249);
	top: 0;
	z-index: 3;
/* 	opacity: 0.5; */
	
}
.screenshot:nth-of-type(2) {
	z-index: 2;
	top: 50%;
	padding-top: 30%;
	right: calc(100% * 12 / 249);
	left: calc(100% * 12 / 249);
	transform-origin: 100% 0%;
	transform: translateY(-50%) scale(calc((273 - 48) / 273));
}
.screenshot:nth-of-type(3) {
	// top: calc(100% * 36 / 237);
	padding-top: 12%;
	left: calc(100% * 24 / 249);
	right:0;
	z-index: 1;
	transform: scale(calc((273 - 48) / 273));
	transform-origin: 100% 0%;
}
.image_list img {
    max-width: 100%;
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 6px;
}
