$bebas-font: "Bebas Neue";
$open-sans-font: "Open Sans";
$normal-size: 400;
$bold-size: 700;
$normal-style: normal;
$italic-style: italic;
$font-path: "../fonts/";
$font-fallbacks: Arial, Helvetica, sans-serif;
$heading2-font-size: 33px;
$heading2-line-height: 33px;
$text-align: center;
$heading-letter-spacing: 3px;
$text-transform: uppercase;
$text-color: #ffff;
$category-size: 18px;
$category-height: 18px;
$margin: 0 auto;
$description-size: 14px;
$description-height: 16px;
$content: 1114px;
