@charset "UTF-8";
@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
  src: local("open-sans-Bold"), local("open-sans-Bold"), url("../fonts/open_sans_bold.woff2") format("woff2"), url("../fonts/open_sans_bold.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open-Sans-Regular"), local("Open-Sans-Regular"), url("../fonts/open_sans_regular.woff2") format("woff2"), url("../fonts/open_sans_regular.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Bebas Neue";
  font-weight: 400;
  src: local("Bebas-Neue-Regular"), local("Bebas-Neue-Regular"), url("../fonts/bebas_neue_regular.woff2") format("woff2"), url("../fonts/bebas_neue_regular.woff") format("woff"); }

body {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  height: auto; }

h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h2,
p,
.category,
span {
  color: #ffff; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.category {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px; }

body > header {
  position: absolute; }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem; }

body > header nav {
  order: 3;
  display: inline; }

.languages select {
  font-size: 12px;
  text-transform: uppercase; }

h1 > img {
  width: 60px;
  height: 60px; }

.masthead {
  background-image: url("../img/bg-image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 5rem; }

.social_battle {
  background-image: url("../img/bg-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 5rem; }

.social_battle header {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 2px solid white;
  padding-inline-start: 1rem; }

.social_battle .description {
  padding-block-start: 1rem;
  padding-inline-start: 3rem;
  padding-inline-end: 1rem; }

.image_doc {
  padding: 2rem 38px; }

.image_list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.25);
  position: relative;
  padding-bottom: calc(100% * 273 / 249); }

.screenshot {
  position: absolute; }

.screenshot:nth-of-type(1) {
  left: 0;
  right: calc(100% * 24 / 249);
  top: 0;
  z-index: 3;
  /* 	opacity: 0.5; */ }

.screenshot:nth-of-type(1) {
  position: absolute;
  left: 0;
  right: calc(100% * 24 / 249);
  top: 0;
  z-index: 3;
  /* 	opacity: 0.5; */ }

.screenshot:nth-of-type(2) {
  z-index: 2;
  top: 50%;
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform-origin: 100% 0%;
  transform: translateY(-50%) scale(calc(249 / 273)); }

.screenshot:nth-of-type(3) {
  top: calc(00% * 36 / 237);
  left: calc(100% * 24 / 237);
  right: 0;
  z-index: 1;
  transform: scale(calc(237 / 273));
  transform-origin: 100% 0%; }

.image_list img {
  max-width: 100%;
  display: block; }

.icon_menu {
  background-image: url("../img/icon_menu_white.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px; }

label > .a11y {
  display: none; }

#menu_checkbox {
  display: none; }

body > [type="checkbox"]:checked ~ .homepage_list {
  transform: translateX(0);
  display: block; }

.homepage_list {
  margin-block-start: 1rem;
  background-color: gray;
  width: 300px;
  height: auto;
  display: none; }

.homepage_list ul {
  display: block; }

.homepage_list li {
  padding: 2rem; }

.homepage_list a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffff; }

.post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5rem; }

.post label {
  display: none; }

.post::after {
  content: "→";
  color: white;
  width: 60px;
  padding-top: 1rem; }

.features {
  padding-left: 116px;
  background-image: radial-gradient(20.45% 53.19% at 0% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url("../img/bg-image3-medium.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover, auto 100%; }

.instruction_flows {
  counter-reset: step;
  padding-block-end: 2rem; }

.instruction_flows label {
  font-family: "Bebas Neue";
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFB548; }

.detail {
  display: none;
  padding-inline-start: 1.5rem; }

input[type="radio"]:checked ~ .detail {
  display: block; }

@media (min-width: 1114px) {
  .features {
    background-image: url("../img/features.png");
    background-repeat: no-repeat; } }

.system_requirements {
  padding: 2rem;
  background-image: url("../img/bg-image4.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 200px);
  background-size: contain; }

.system_requirements article {
  padding-block-end: 200px; }

.system {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem; }

.system_list {
  display: flex;
  flex-direction: column; }

.system_list_item {
  font-family: "Bebas Neue";
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFB548;
  padding-block-end: 1rem; }

.system_list:nth-of-type(5) {
  grid-column: 1 / 3; }

.quotations {
  padding: 1rem; }

.testemonial {
  background-color: orange;
  width: 200px;
  height: 44px;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 2rem;
  color: #1A1917; }

.testemony_lists {
  display: flex;
  flex-direction: column; }

.testemony {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-block-end: 1rem;
  padding: 1rem;
  max-width: 400px;
  height: 200px; }

.testemony img {
  width: 40px;
  border-radius: 50px; }

.testemony header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.testemony_name {
  font-family: "Bebas Neue";
  font-size: 21px;
  line-height: 21px;
  color: #FFB548;
  display: flex;
  flex-direction: column; }

.profession,
.date {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-inline-start: 1rem; }

.quote {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding-inline-start: 1rem; }

.newsletter_subscribe {
  background: radial-gradient(20.43% 53.19% at 0% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url("../img/mayan_small.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover, auto 100%; }

.newsletter_wrapper {
  padding-inline-start: 122px;
  padding-block-start: 2rem; }

.form_input {
  display: flex;
  flex-direction: column; }

.email {
  width: 293px;
  height: 50px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 3px; }

.subscribe {
  width: 300px;
  height: 50px;
  background-color: orange;
  margin-block-start: 1rem; }

.email_address {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFB548; }

@media (min-width: 1114px) {
  .newsletter_subscribe {
    background-image: radial-gradient(20.45% 53.19% at 0% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url("../img/mayan-raul-osorio-totem.png");
    background-repeat: no-repeat;
    padding-inline-start: 675px; } }

.navigation {
  border-bottom: 1px solid white; }

.page_logo {
  text-align: center;
  padding-block-end: 2rem;
  padding-block-start: 2rem; }

.homepage ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem; }

.homepage li:nth-of-type(4) {
  grid-column: 1 / 3; }

.homepage li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffff; }

.step_lists li {
  color: #ffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.media_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem; }

.outpost {
  padding: 1rem;
  text-align: center; }

@media (min-width: 1114px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .homepage ul {
    display: flex;
    flex-direction: row;
    padding-block-start: 6rem; }
  .homepage li {
    padding-left: 1rem;
    padding-right: 1rem; }
  .media_list {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    padding-block-start: 6rem; }
  .media_list_item {
    padding-left: 1rem;
    padding-right: 1rem; }
  .following_steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 2rem; }
  .steps ul {
    display: flex;
    flex-direction: row; }
  .step_lists li:nth-of-type(1)::after,
  .step_lists li:nth-of-type(2)::after {
    content: "|";
    padding-left: 1rem;
    padding-right: 1rem; }
  .outpost {
    padding: 0; } }
