@charset "UTF-8";
@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
  src: local("open-sans-Bold"), local("open-sans-Bold"), url("../fonts/open_sans_bold.woff2") format("woff2"), url("../fonts/open_sans_bold.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open-Sans-Regular"), local("Open-Sans-Regular"), url("../fonts/open_sans_regular.woff2") format("woff2"), url("../fonts/open_sans_regular.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Bebas Neue";
  font-weight: 400;
  src: local("Bebas-Neue-Regular"), local("Bebas-Neue-Regular"), url("../fonts/bebas_neue_regular.woff2") format("woff2"), url("../fonts/bebas_neue_regular.woff") format("woff"); }

body {
  background-color: black;
  margin: 0 auto; }

h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

h2,
p,
.category,
span {
  color: #ffff; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.category {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px; }

.heading {
  display: flex;
  flex-direction: column-reverse; }

body > header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

body > header nav {
  order: 3;
  display: inline; }

.languages select {
  font-size: 12px;
  text-transform: uppercase; }

h1 > img {
  width: 60px;
  height: 60px; }

.experience {
  background-image: url("../img/bg-image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 5rem;
  padding-block-end: 5rem;
  text-align: center; }

.social_battle {
  background-image: url("../img/bg-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 5rem;
  padding-block-end: 400px; }

.social_battle header {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 2px solid white;
  padding-inline-start: 1rem; }

.social_battle .description {
  padding-block-start: 1rem;
  padding-inline-start: 3rem;
  padding-inline-end: 1rem; }

.social_battle figure {
  position: absolute; }

.social_battle img {
  width: 225px;
  height: 275px;
  position: absolute; }

.image_list {
  position: absolute; }

.screenshot_first img {
  padding-block-start: 51px;
  padding-inline-start: 37px;
  z-index: 3; }

.screenshot_second img {
  padding-block-start: 63px;
  padding-inline-start: 49px;
  z-index: 2; }

.screenshot_third img {
  padding-block-start: 75px;
  padding-inline-start: 61px;
  z-index: 1; }

.menu li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffff; }

body > header nav ul {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > header > nav {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

.container > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url("../img/icon_menu.svg");
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > header > nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #343638;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem 1rem 1rem 4rem;
  vertical-align: middle; }

.post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5rem; }

.post label {
  display: none; }

.post::after {
  content: "→";
  color: white;
  width: 60px;
  padding-top: 1rem; }

.system {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 2rem; }

.system_list {
  display: flex;
  flex-direction: column; }

.system_list_item {
  font-family: "Bebas Neue";
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFB548; }

.system_list:nth-of-type(5) {
  grid-column: 1 / 3; }

.quotations {
  padding: 1rem; }

.testemonial {
  background-color: orange;
  width: 200px;
  height: 44px;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 2rem;
  color: #1A1917; }

.testemony_lists {
  display: flex;
  flex-direction: column; }

.testemony {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-block-end: 1rem;
  padding: 1rem;
  max-width: 400px;
  height: 200px; }

.testemony img {
  width: 40px;
  border-radius: 50px; }

.testemony header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.testemony_name {
  font-family: "Bebas Neue";
  font-size: 21px;
  line-height: 21px;
  color: #FFB548;
  display: flex;
  flex-direction: column; }

.profession,
.date {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-inline-start: 1rem; }

.quote {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding-inline-start: 1rem; }

.newsletter_subscribe {
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%); }

.sculpture {
  position: absolute;
  width: 230px;
  height: 360px;
  overflow: hidden;
  padding-right: 200px; }

.newsletter_subscribe .heading {
  float: right; }

.newsletter_subscribe .description {
  padding-inline-start: 200px;
  float: right; }

.page_logo {
  text-align: center;
  padding-block-end: 2rem;
  padding-block-start: 2rem; }

.homepage ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem; }

.homepage li:nth-of-type(4) {
  grid-column: 1 / 3; }

.homepage li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffff; }

.step_lists li {
  color: #ffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid white; }

.outpost {
  padding: 1rem;
  text-align: center; }
